:host {
  position: absolute;
  top: var(--y-coord);
  left: var(--x-coord);
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--width);
  height: var(--height);
  clip-path: polygon(
    /* Top left point */ 25% 0%,
    /* Top right point */ 75% 0%,
    /* Right point */ 100% 50%,
    /* Bottom right point */ 75% 100%,
    /* Bottom left point */ 25% 100%,
    /* Left point */ 0% 50%
  );
  background-color: var(--background-color);
  transition:
    top var(--app-hex-move-time),
    left var(--app-hex-move-time);
}

:host.background-hex {
  background-color: rgb(255 255 255);
  transition: none;
}

:host.background-hex.setup {
  background-color: rgb(110 224 110);
}

:host.zoom-in {
  animation: zoom-in var(--app-hex-zoom-in-time);
}

:host.merge {
  animation: merge var(--app-hex-move-time);
}

:host.delete {
  transform: scale(0);
  animation: zoom-out var(--app-hex-move-time);
}

@keyframes zoom-in {
  0% {
    transform: scale(0);
  }

  50% {
    transform: scale(0);
  }

  80% {
    transform: scale(1);
  }

  90% {
    transform: scale(1.15);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes merge {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.25);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes zoom-out {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(0);
  }
}
