:host {
  --move-time: 0.3s;
  --zoom-in-time: 0.5s;

  position: absolute;
  top: var(--y-coord);
  left: var(--x-coord);
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--width);
  height: var(--height);
  clip-path: polygon(
    /* Top left point */ 25% 0%,
    /* Top right point */ 75% 0%,
    /* Right point */ 100% 50%,
    /* Bottom right point */ 75% 100%,
    /* Bottom left point */ 25% 100%,
    /* Left point */ 0% 50%
  );
  background-color: tomato;
  transition:
    top var(--move-time),
    left var(--move-time);
}

// TODO: remove after testing
.count {
  display: flex;
  flex-direction: column;

  pre {
    font-size: 8px;
  }
}

:host.background-hex {
  background-color: rgb(255 255 255);
}

:host.background-hex.setup {
  background-color: rgb(110 224 110);
}

:host.zoom-in {
  animation: zoom-in var(--zoom-in-time);
}

:host.merge {
  animation: merge var(--move-time);
}

@keyframes zoom-in {
  0% {
    transform: scale(0);
  }

  50% {
    transform: scale(0);
  }

  80% {
    transform: scale(1);
  }

  90% {
    transform: scale(1.15);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes merge {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.25);
  }

  100% {
    transform: scale(1);
  }
}
