:host {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

label {
  display: inline-block;
}

input {
  padding: 6px 12px;
  line-height: 1.5;
  color: #212529;
  border: 1px solid #dee2e6;
  transition:
    border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;
}

input:focus {
  border-color: #86b7fe;
  outline: 0;
  box-shadow: 0 0 0 4px rgb(13 110 253 / 25%);
}
