.container {
  position: relative;

  // !! TODO: remove temporary styles
  box-sizing: content-box;

  // !! TODO: remove temporary styles END
  width: var(--width);
  height: var(--height);

  // !! TODO: remove temporary styles
  border: 1px solid tomato;
}
