<div class="container">
    <app-hexagon [hexWidth]="200" [coord]="{ q: -1, r: 0, s: 1 }"></app-hexagon>
    <app-hexagon [hexWidth]="200" [coord]="{ q: 0, r: -1, s: 1 }"
        style="left: 200px; top:var(--height)"
    ></app-hexagon>
    <!-- <app-hexagon [hexWidth]="200" [coord]="{ q: 1, r: -1, s: 0 }"></app-hexagon>
    <app-hexagon [hexWidth]="200" [coord]="{ q: 0, r: 0, s: 0 }"></app-hexagon>
    <app-hexagon [hexWidth]="200" [coord]="{ q: -1, r: 1, s: 0 }"></app-hexagon>
    <app-hexagon [hexWidth]="200" [coord]="{ q: 0, r: 1, s: -1 }"></app-hexagon>
    <app-hexagon [hexWidth]="200" [coord]="{ q: 1, r: 0, s: -1 }"></app-hexagon>     -->
</div>