<div
    class="container"
    [style.--width]="styleVariables.width"
    [style.--height]="styleVariables.height"
>
    <app-hexagon [hexWidth]="hexWidth" [coord]="{ q: 0, r: 0, s: 0 }" [offset]="offset"></app-hexagon>
    <app-hexagon [hexWidth]="hexWidth" [coord]="{ q: -1, r: 1, s: 0 }" [offset]="offset"></app-hexagon>
    <app-hexagon [hexWidth]="hexWidth" [coord]="{ q: 1, r: -1, s: 0 }" [offset]="offset"></app-hexagon>

    <app-hexagon [hexWidth]="hexWidth" [coord]="{ q: 0, r: 1, s: -1 }" [offset]="offset"></app-hexagon>
    <app-hexagon [hexWidth]="hexWidth" [coord]="{ q: 0, r: -1, s: 1 }" [offset]="offset"></app-hexagon>

    <app-hexagon [hexWidth]="hexWidth" [coord]="{ q: -1, r: 0, s: 1 }" [offset]="offset"></app-hexagon>
    <app-hexagon [hexWidth]="hexWidth" [coord]="{ q: 1, r: 0, s: -1 }" [offset]="offset"></app-hexagon>
</div>