.hexagon {
    position: absolute;
    background-color: rgb(110, 224, 110);
    width: var(--width);
    height: var(--height);
    clip-path: polygon(
        25% 0%, /* Top left point */
        75% 0%, /* Top right point */
        100% 50%, /* Right point */
        75% 100%, /* Bottom right point */
        25% 100%, /* Bottom left point */
        0% 50% /* Left point */
    );
}