button {
  width: var(--width);
  padding: 6px 12px;
  color: var(--bs-color);
  background-color: var(--bs-bg-color);
  border-color: var(--bs-border-color);
  border-style: solid;
  border-width: 1px;
  transition:
    background-color var(--app-button-animation-time) ease,
    border-color var(--app-button-animation-time) ease,
    box-shadow var(--app-button-animation-time) ease;
}

button:hover {
  background-color: var(--hov-bg-color);
  border-color: var(--hov-border-color);
}

button:active,
button.active {
  background-color: var(--act-bg-color);
  border-color: var(--act-border-color);
}

button:focus-visible {
  background-color: var(--hov-bg-color);
  border-color: var(--hov-border-color);
  box-shadow: 0 0 0 4px rgb(var(--focus-box-shadow-rgb) / 50%);
}

button:disabled {
  color: var(--dsbld-color);
  background-color: var(--dsbld-bg-color);
  border-color: var(--dsbld-border-color);
}
