button {
  // TODO: extract transitions in to global variable style file
  --button-animation-time: 0.1s;

  width: var(--width);
  padding: 6px 12px;
  background-color: var(--bas-bg-color);
  border-color: var(--bas-border-color);
  border-style: solid;
  border-width: 1px;
  transition:
    background-color var(--button-animation-time) ease,
    border-color var(--button-animation-time) ease;
}

button:hover {
  background-color: var(--hov-bg-color);
  border-color: var(--hov-border-color);
}

button:active,
button.active {
  background-color: var(--act-bg-color);
  border-color: var(--act-border-color);
}

button:disabled {
  color: var(--dis-color);
  background-color: var(--dis-bg-color);
  border-color: var(--dis-border-color);
}
