button {
  // TODO: extract transitions in to global variable style file
  --button-animation-time: 0.1s;

  width: var(--width);
  padding: 6px 12px;
  background-color: #f8f9fa;
  border-color: #f8f9fa;
  border-style: solid;
  border-width: 1px;
  transition:
    background-color var(--button-animation-time) ease,
    border-color var(--button-animation-time) ease;
}

button:hover {
  background-color: #d5d6d7;
  border-color: #babbbc;
}

button:active {
  background-color: #babbbc;
  border-color: #a0a1a2;
}

button:disabled {
  color: #a0a1a2;
  background-color: #f8f9fa;
  border-color: #f8f9fa;
}

button.pressed {
  color: red;

  // color: #a0a1a2;
  // background-color: #babbbc;
  // border-color: #babbbc;
}
