<div class="control-row">
  <app-button [width]="40" [disabled]="isAnimatingOrTransitioning" (click)="move('Q')">Q</app-button>
  <app-button [width]="40" [disabled]="isAnimatingOrTransitioning" (click)="move('W')">W</app-button>
  <app-button [width]="40" [disabled]="isAnimatingOrTransitioning" (click)="move('E')">E</app-button>
</div>
<div class="control-row">
  <app-button [width]="40" [disabled]="isAnimatingOrTransitioning" (click)="move('A')">A</app-button>
  <app-button [width]="40" [disabled]="isAnimatingOrTransitioning" (click)="move('S')">S</app-button>
  <app-button [width]="40" [disabled]="isAnimatingOrTransitioning" (click)="move('D')">D</app-button>
</div>
