@import '../../styles/variables/variables';

:host {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: stretch;
  justify-content: center;
}

.control-row {
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
  justify-content: center;
}

@media (max-width: $app-breakpoint-desktop - 1px) {
  .control-row.desktop {
    display: none;
  }
}

@media (min-width: $app-breakpoint-desktop) {
  .control-row.mobile {
    display: none;
  }

  .control-row.desktop {
    display: flex;
  }
}
