<div class="control-row">
  <button #qButton type="button" class="btn btn-light" (click)="move('Q')">Q</button>
  <button #wButton type="button" class="btn btn-light" (click)="move('W')">W</button>
  <button #eButton type="button" class="btn btn-light" (click)="move('E')">E</button>
</div>
<div class="control-row">
  <button #aButton type="button" class="btn btn-light" (click)="move('A')">A</button>
  <button #sButton type="button" class="btn btn-light" (click)="move('S')">S</button>
  <button #dButton type="button" class="btn btn-light" (click)="move('D')">D</button>
</div>
