<div class="control-row">
  <button #qButton type="button" class="btn btn-light" (click)="nextMove()">Q</button>
  <button #wButton type="button" class="btn btn-light" (click)="nextMove()">W</button>
  <button #eButton type="button" class="btn btn-light" (click)="nextMove()">E</button>
</div>
<div class="control-row">
  <button #aButton type="button" class="btn btn-light" (click)="nextMove()">A</button>
  <button #sButton type="button" class="btn btn-light" (click)="nextMove()">S</button>
  <button #dButton type="button" class="btn btn-light" (click)="nextMove()">D</button>
</div>
