<app-hexagon
  *ngFor="let hex of backgroundHexCoords; trackBy: trackByCoord"
  [hexWidth]="hexWidth"
  [gap]="gap"
  [hexDetails]="hex"
  [offset]="offset"
  [isSetup]="(isSetup$ | async)!"
></app-hexagon>
<ng-container *ngIf="!(isSetup$ | async)">
  <app-hexagon
    *ngFor="let hex of hexesToDelete; trackBy: trackByID"
    [hexWidth]="hexWidth"
    [gap]="gap"
    [hexDetails]="hex"
    [offset]="offset"
  >
  </app-hexagon>

  <app-hexagon
    *ngFor="let hex of hexData; trackBy: trackByID"
    [hexWidth]="hexWidth"
    [gap]="gap"
    [hexDetails]="hex"
    [offset]="offset"
  ></app-hexagon>
</ng-container>
