<fieldset>
  <legend>Game Setup</legend>

  <div class="input-wrapper">
    <!-- TODO: limit max radius -->
    <app-number-input
      [minValue]="1"
      label="Radius"
      [value]="radius$ | async"
      (valueChange)="gameSetupService.setRadius($event, 'GameSetupComponent radius input')"
    ></app-number-input>
    <app-number-input
      [minValue]="4"
      label="Gap"
      [value]="gap$ | async"
      (valueChange)="gameSetupService.setGap($event, 'GameSetupComponent gap input')"
      [step]="4"
    ></app-number-input>
    <app-number-input
      [minValue]="10"
      label="Hex Width"
      [value]="hexWidth$ | async"
      (valueChange)="gameSetupService.setHexWidth($event, 'GameSetupComponent hexWidth input')"
      [step]="10"
    ></app-number-input>
  </div>

  <app-link to="/game" styleType="primary-btn" (appLinkEvent)="startGame()">Start Game</app-link>
</fieldset>
