@import '../../styles/variables/variables';

fieldset {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
}

legend {
  margin: 0;
  text-align: center;
}

.input-wrapper {
  display: flex;
  gap: 16px;

  @media (max-width: $app-breakpoint-mobile) {
    flex-direction: column;
  }

  @media (min-width: $app-breakpoint-desktop) {
    flex-direction: row;
  }
}
