<fieldset>
  <legend>Game Setup</legend>

  <div class="input-wrapper">
    <app-number-input
      [minValue]="1"
      label="Radius"
      [value]="radius$ | async"
      (valueChange)="storeService.setRadius($event)"
    ></app-number-input>
    <app-number-input
      [minValue]="4"
      label="Gap"
      [value]="gap$ | async"
      (valueChange)="storeService.setGap($event)"
      [step]="4"
    ></app-number-input>
    <app-number-input
      [minValue]="10"
      label="Hex Width"
      [value]="hexWidth$ | async"
      (valueChange)="storeService.setHexWidth($event)"
      [step]="10"
    ></app-number-input>
  </div>

  <button type="button" class="btn btn-primary" (click)="startGame()">Start Game</button>
</fieldset>
